/* Button design */
.register-button{
    margin:0;
    color: white;
    background-image: radial-gradient( rgb(121, 50, 74),  rgb(126, 39, 59));
    border-radius: 5px;
}

/* Button disabled design */
.register-button:disabled{
    margin:0;
    color: rgb(146, 146, 146);
    background-image: radial-gradient( rgb(121, 93, 101), rgb(88, 54, 63));
    border-radius: 5px;
}

/* Table,tr,td design */
table, tr, td{
    margin: auto;
}

/* Input and select design */
input, select{
    width:190px;
    margin: 7px;
    height: 26px;
    border-radius: 3px;
    box-shadow: 3px 2px 5px rgb(53, 22, 31);
    border: none;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0.589);
}

/* td design with inputs */
.input-td{
    padding-left: 10px;
}

/* Error message design */
.err-msg{
    color: white;
    display: block;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(24, 6, 11); 
    padding-left: 0px 3px;
    font-size: 11px;
}

/* register title design */
.register-title{
    font-family: myTitle;
    color: white;
    font-size: 45px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 3px rgb(32, 9, 20);
}

/* Register top div */
.register-top-div{
    height: 90%;
}

/* Design for screen smaller than 575px */
@media screen and (max-width: 575px) { 
    
    /* td design with inputs */
    .input-td{
        padding-left: 10px;
    }
}
