/* Default search button */
.search-button{
    visibility: none;
}

/* Magnifying glass design */
img{
    width: 19px;
    height:19px;
    text-align: center;
    filter: brightness(50%);
}

/* Input box design */
input{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.253);
    padding: 2px;
    margin: 2px;
}

/* Button design */
button{
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.692);
    height: 30px;
    margin: 1px;
}

/* Design for screen smaller than 575px */
@media screen and (max-width: 575px) {

    /* Magnifying glass design */
    img{
        width: 17px;
        height:17px;        
    }
    
    /* Input box design */
    input{
        border-radius: 4px;
        width: 100px;
        height: 30px;
    }
    
    /* Button design */
    button{
        height: 28px;
    }

    /* search form */
    .search-form{
        text-align: right;
        margin: auto;
    }
}

