<div class="master-div">
    <div *ngIf="customer" class="top-page-div">
        <p class="hello-class text-center">Hello {{customer.firstName}}</p>
        <div class="search-class text-center">
            <app-search-products (noSearchResultEvent)="receiveNoSearchResult($event)"></app-search-products>
        </div>
    </div>

    <div class="container">
        <div class="cart-div" *ngIf="cart">
            <app-cart [cartsItems]="cartsItems" [totalAmount]="totalAmount"></app-cart>
        </div>
        <div class="products-master-div">
            <div class="categories-div">
                <button *ngFor="let c of categories" class="category-button" (click)="getAllProductsByCategory(c._id)">{{c.category}}</button>
            </div>
            <div class="products-section">
                <div *ngFor="let p of products" class="product-div" (click)="selectProduct(p)">
                    <img src="/assets/images/{{p.image}}" class="product-image">
                    <p class="product-p">{{p.productName}}</p>
                    <p class="product-p">{{p.price | currency : 'ILS'}}</p>
                </div>
                <div *ngIf="noSearchResult">
                    <p class="sorry">Sorry!</p> 
                    <p class="no-result">No search results were found</p>
                </div>
            </div>
        </div>
    </div>
</div>