<section>
    <header>
        <div class="logo-div">
            <app-site-menu></app-site-menu>
        </div>
            <div class="contact-div">
                <h2 class="contact-us-title text-center">Contact Us</h2>
                <p class="contact-us text-left">
                    <img src="/assets/icons/03.png" class="email-icon"> noinfo@shopsmart.com</p>
                <p class="contact-us text-left">
                    <img src="/assets/icons/04.png" class="phone-icon"> 01-1111111</p>
            </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>