/* Top div */
section{
    margin:0px;
    padding:15px;
    display: grid;
    border: 1px solid gray;
    grid-template-rows: 15% 80%;
    grid-template-columns: repeat(12,1fr);
    text-align: center;
    box-sizing: border-box;
    height:100%;
}

/* header design */
header{
    grid-column: span 12;
    position: relative;
}

/* main design */
main{
    grid-column: span 12;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

/* Contact us div */
.contact-div{
    display: inline-block;
    position: absolute;
    right: 20px;
}

/* Contact us text design */
.contact-us{
    margin: 2px;
    padding: 2px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 3px rgb(26, 7, 13);
}

/* Contact us title */
.contact-us-title{
    font-size: 30px;
    color: white;
    font-family: myTitle;
    margin-top: 0;
    margin-bottom: 0;
}

/* Logi div: */
.logo-div{
    display: inline-block;
    position: absolute;
    left: 20px;
}

/* Email icon design */
.email-icon{
    width: 20px;
    height: 20px;
    filter: brightness(800%) drop-shadow(2px 2px 3px rgb(31, 8, 19)); 
}

/* Phone icon design  */
.phone-icon{
    width: 20px;
    height: 20px;
    filter: invert(100%) brightness(1000%) drop-shadow(2px 2px 3px rgb(31, 8, 19));
}

/* Design for screen smaller than 575px */
@media screen and (max-width: 575px) {

    /* Contact us title */
    .contact-us-title{
        font-size: 20px;
    }

    /* Contact us text design */
    .contact-us{
        font-size: 10px;
    }

    /* Phone icon design  */
    .phone-icon{
        width: 15px;
        height: 15px; 
    }

    /* Email icon design  */
    .email-icon{
        width: 15px;
        height: 15px;  
    }

    /* Logo div */
    .logo-div{
        left: 10px;
    }

    /* Contact us div */
    .contact-div{
        right: 10px;
    }

    /* main design */
    main{
        overflow-x: hidden;
    }
}