<section>
    <header>
        <div class="logo-div">
            <app-site-menu></app-site-menu>
        </div>
        <div class="disclaimer-div">
            <p class="disclaimer-p">This website, Shopping Smart, is not a real website</p>
            <p class="disclaimer-p">It is a demo website created for studying purposes</p>
            <p class="disclaimer-p">I'm not advertising or selling any products</p>
            <p class="disclaimer-p">Please don't leave your real information or creditcard details</p>
        </div>
        <div class="contact-div">
            <h2 class="contact-us-title text-center">Contact Us</h2>
            <p class="contact-us text-left">
                <img src="/assets/icons/03.png" class="email-icon"> noinfo@shopsmart.com</p>
            <p class="contact-us text-left">
                <img src="/assets/icons/04.png" class="phone-icon"> 01-1111111</p>
        </div>
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>